# Development Output
compile_commands.json
.cache/
.claude/
.vscode/
.vs/

# Build Output
build/
external/
CPM_modules/
cpm-package-lock.cmake
program/include/resource.hpp
program/source/resource.cpp
